In [113]:
import pandas as pd

In [162]:
data = pd.read_csv('bank_data.csv')

# convert to binary values of housing, loan, default
data['housing'] = data['housing'].map({'yes' : 1, 'no' : 0})
data['default'] = data['default'].map({'yes': 1, 'no' :0})
data['loan'] = data['loan'].map({'yes' :1, 'no' :0})


# encode martial type
data['marital_single'] = data['marital'].apply(lambda x:1 if 'single' in x else 0)
data['marital_married'] = data['marital'].apply(lambda x:1 if 'married' in x else 0)
data['marital_divorced'] = data['marital'].apply(lambda x:1 if 'divorced' in x else 0)

# encode education type
data['education_primary'] = data['education'].apply(lambda x:1 if 'primary' in x else 0 )
data['education_secondary'] = data['education'].apply(lambda x:1 if 'secondary' in x else 0 )
data['education_tertiary'] = data['education'].apply(lambda x:1 if 'tertiary' in x else 0 )
data['education_others'] = data['education'].apply(lambda x:1 if 'others' in x else 0 )

# encode contact type
data['contact_cellular'] = data['contact'].apply(lambda x:1 if 'cellular' in x else 0)
data['contact_telephone'] = data['contact'].apply(lambda x:1 if 'telephone' in x else 0)
data['contact_unknown'] = data['contact'].apply(lambda x:1 if 'unknown' in x else 0)

# one hot encoding of y values
data['y'] = data['y'].map({'yes' :1, 'no':0})

# one hot encode of job type
def job_type(input):
    if input == 'self-employed' or input == 'entrepreneur' or input == 'unemployed' or input == 'housemaid' or input == 'student' or input == 'unknown' :
        return 'other_job'
    else:
        return input
data['job'] = data['job'].apply(job_type)

data['blue-collar'] = data['job'].apply(lambda x:1 if 'blue-collar' in x else 0)
data['management'] = data['job'].apply(lambda x:1 if 'management' in x else 0)
data['technician'] = data['job'].apply(lambda x:1 if 'technician' in x else 0)
data['admin'] = data['job'].apply(lambda x:1 if 'admin' in x else 0)
data['services'] = data['job'].apply(lambda x:1 if 'services' in x else 0)
data['retired'] = data['job'].apply(lambda x:1 if 'retired' in x else 0)
data['other_job'] = data['job'].apply(lambda x:1 if 'other_job' in x else 0)

# one hot encoding of poutcome
data['poutcome_unknown'] = data['poutcome'].apply(lambda x:1 if 'unknown' in x else 0)
data['poutcome_failure'] = data['poutcome'].apply(lambda x:1 if 'failure' in x else 0)
data['poutcome_other'] = data['poutcome'].apply(lambda x:1 if 'other' in x else 0)
data['poutcome_success'] = data['poutcome'].apply(lambda x:1 if 'success' in x else 0)

# one hot encoding of y values
data['y'] = data['y'].map({'yes' :1, 'no' :0})

# one hot encoding of months
data['jan_month'] = data['month'].apply(lambda x:1 if 'jan' in x else 0)
data['feb_month'] = data['month'].apply(lambda x:1 if 'feb' in x else 0)
data['mar_month'] = data['month'].apply(lambda x:1 if 'mar' in x else 0)
data['apr_month'] = data['month'].apply(lambda x:1 if 'apr' in x else 0)
data['may_month'] = data['month'].apply(lambda x:1 if 'may' in x else 0)
data['jun_month'] = data['month'].apply(lambda x:1 if 'jun' in x else 0)
data['jul_month'] = data['month'].apply(lambda x:1 if 'jul' in x else 0)
data['aug_month'] = data['month'].apply(lambda x:1 if 'aug' in x else 0)
data['sep_month'] = data['month'].apply(lambda x:1 if 'sep' in x else 0)
data['oct_month'] = data['month'].apply(lambda x:1 if 'oct' in x else 0)
data['nov_month'] = data['month'].apply(lambda x:1 if 'nov' in x else 0)
data['dec_month'] = data['month'].apply(lambda x:1 if 'dec' in x else 0)


# remove columns
data.drop(columns=['education', 'marital', 'contact', 'job', 'month'])

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,mar_month,apr_month,may_month,jun_month,jul_month,aug_month,sep_month,oct_month,nov_month,dec_month
0,58,0,2143,1,0,5,261,1,-1,0,...,0,0,1,0,0,0,0,0,0,0
1,44,0,29,1,0,5,151,1,-1,0,...,0,0,1,0,0,0,0,0,0,0
2,33,0,2,1,1,5,76,1,-1,0,...,0,0,1,0,0,0,0,0,0,0
3,47,0,1506,1,0,5,92,1,-1,0,...,0,0,1,0,0,0,0,0,0,0
4,33,0,1,0,0,5,198,1,-1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,825,0,0,17,977,3,-1,0,...,0,0,0,0,0,0,0,0,1,0
45207,71,0,1729,0,0,17,456,2,-1,0,...,0,0,0,0,0,0,0,0,1,0
45208,72,0,5715,0,0,17,1127,5,184,3,...,0,0,0,0,0,0,0,0,1,0
45209,57,0,668,0,0,17,508,4,-1,0,...,0,0,0,0,0,0,0,0,1,0
45210,37,0,2971,0,0,17,361,2,188,11,...,0,0,0,0,0,0,0,0,1,0

In [163]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 50 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   job                  45211 non-null  object
 2   marital              45211 non-null  object
 3   education            45211 non-null  object
 4   default              45211 non-null  int64
 5   balance              45211 non-null  int64
 6   housing              45211 non-null  int64
 7   loan                 45211 non-null  int64
 8   contact              45211 non-null  object
 9   day                  45211 non-null  int64
 10  month                45211 non-null  object
 11  duration             45211 non-null  int64
 12  campaign             45211 non-null  int64
 13  pdays                45211 non-null  int64
 14  previous             45211 non-null  int64
 15  poutcome             45211 non-null  object
 16  y                    0 non-null      float64
 17  marital_single       45211 non-null  int64
 18  marital_married      45211 non-null  int64
 19  marital_divorced     45211 non-null  int64
 20  education_primary    45211 non-null  int64
 21  education_secondary  45211 non-null  int64
 22  education_tertiary   45211 non-null  int64
 23  education_others     45211 non-null  int64
 24  contact_cellular     45211 non-null  int64
 25  contact_telephone    45211 non-null  int64
 26  contact_unknown      45211 non-null  int64
 27  blue-collar          45211 non-null  int64
 28  management           45211 non-null  int64
 29  technician           45211 non-null  int64
 30  admin                45211 non-null  int64
 31  services             45211 non-null  int64
 32  retired              45211 non-null  int64
 33  other_job            45211 non-null  int64
 34  poutcome_unknown     45211 non-null  int64
 35  poutcome_failure     45211 non-null  int64
 36  poutcome_other       45211 non-null  int64
 37  poutcome_success     45211 non-null  int64
 38  jan_month            45211 non-null  int64
 39  feb_month            45211 non-null  int64
 40  mar_month            45211 non-null  int64
 41  apr_month            45211 non-null  int64
 42  may_month            45211 non-null  int64
 43  jun_month            45211 non-null  int64
 44  jul_month            45211 non-null  int64
 45  aug_month            45211 non-null  int64
 46  sep_month            45211 non-null  int64
 47  oct_month            45211 non-null  int64
 48  nov_month            45211 non-null  int64
 49  dec_month            45211 non-null  int64
dtypes: float64(1), int64(43), object(6)
memory usage: 17.2+ MB